# Introduction to Python


    - 1. Syntax of python
    - 2. Variable in python
    - 3. Data Types in python
    - 4. Operators in python
    - 5. Control Flow
    - 6. Loops

## Syntax of python

In [7]:
x = 5    # i am assigning a value of 5 to x. x is a variable
 y = 10   # value of y is 10

IndentationError: unexpected indent (3617804515.py, line 2)

In [21]:
x = 5    # i am assigning a value of 5 to x. x is a variable
y = 10   # value of y is 10

In [22]:
print(y) 
print(x)

10
5

In [23]:
print(x, y)

5 10

## variable name in python
    - it can contain numbers, alphabets and _
    - variable name can start with only alphabet or _ 
    - variable name cannot be a reserved word in python
    - variable names are case sensitive

#### Conventions for naming ( recommendations or suggestions)
    - name should self explainatory

In [15]:
x = 10
X = 10

In [16]:
ramesh = 10
Ramesh = 100

In [17]:
mohan = 40.6

In [18]:
age = 30

In [19]:
file = 50
file1 = 60
file100 = 40

In [24]:
file-3 = 50

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1537283370.py, line 1)

In [25]:
file.3 = 50

SyntaxError: invalid syntax (4163638293.py, line 1)

In [26]:
file* = 40

SyntaxError: invalid syntax (626498415.py, line 1)

In [ ]:
file_3 = 40

In [27]:
file1 = 20

In [ ]:
1file = 20

In [29]:
import  keyword

In [31]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

## Data Types in Python

    - fundamental data types
            - integer (int)
            - float (float)
            - string (str) 
            - boolean (bool)
            - None

    - Collections
        - list
        - tuple
        - set
        - dictionary

In [34]:
x = 5
y = 40.2

In [37]:
x = 500  # integer
y = 10
z = 100
p = 5000

In [38]:
print(x)   # function print

500

In [39]:
type(x)  # function type

int

In [40]:
height = 170.5

In [41]:
type(height)

float

In [43]:
type(1.23)

float

In [44]:
name = "Wasiq"
name = 'Wasiq'

In [47]:
# multiline strings
address = '''8th road, 10th circle
New Delhi
India
'''

In [49]:
address

'8th road, 10th circle\nNew Delhi\nIndia\n'

In [65]:
details = "Ashish Mohanty \nPhone: 35873895672983 \nCity: Bangalore"
print(details)

Ashish Mohanty
Phone: 35873895672983
City: Bangalore

In [48]:
print(address)

8th road, 10th circle
New Delhi
India

In [45]:
type(name)

str

In [46]:
age = "30"
type(age)

str

In [50]:
name = "Wasiq"  # string
age = 25 # integer
height  = 170.5 # float
address = '''8th road, 10th circle
New Delhi
India
'''

In [52]:
# assignment operator

x = 5
name = "Anubhav"

In [53]:
a = 10
b = 5

In [54]:
# comparison operator
a > b   # whether a condition is True or False

True

In [55]:
type(True)

bool

In [56]:
x = 10
y = 5

x == y   # this is checking of x and y are equal

False

In [57]:
type(False)

bool

## Type Casting or Type conversion

    - Converting one datatype to another

In [69]:
x = 5.9

In [70]:
type(x)

float

In [71]:
int(x)

5

In [72]:
round(x)

6

In [73]:
a = 10
float(a)

10.0

In [74]:
a = 100
str(a)

'100'

In [75]:
age = "50"
age_int = int(age)

In [77]:
age_int

int

In [80]:
int("500")

500

In [81]:
int("50.5")

ValueError: invalid literal for int() with base 10: '50.5'

In [87]:
int('50.5')

ValueError: invalid literal for int() with base 10: '50.5'

In [82]:
str(True)

'True'

In [84]:
int(True), int(False)

(1, 0)

In [85]:
int(True)

1

In [86]:
int(False)

0

In [ ]:
'True'
"True"

## Collections in Python
    - List
            - ordered
            - mutable
    - Tuple
            - immutable
    - Set
    - Dictionary
        - unordered
        - mutable

## List

In [90]:
marks = [40, 50 , 60, 70] # collections of other data types

In [91]:
type(marks)

list

In [94]:
names_of_students = [ "Ganesh Sahu", "Shaswat", "Aaska", "Ansh" ,"Chirag"]

In [95]:
type(names_of_students)

list

In [96]:
## who is the first student

names_of_students[0]

'Ganesh Sahu'

In [97]:
## who is the third student

names_of_students[2]

'Aaska'

In [98]:
print(names_of_students)

['Ganesh Sahu', 'Shaswat', 'Aaska', 'Ansh', 'Chirag']

In [99]:
type(names_of_students)

list

In [100]:
## Find out how many members are there in the list

len(names_of_students)

5

In [101]:
## add some members in the list
names_of_students

['Ganesh Sahu', 'Shaswat', 'Aaska', 'Ansh', 'Chirag']

In [102]:
names_of_students.append("Anurag")

In [103]:
names_of_students

['Ganesh Sahu', 'Shaswat', 'Aaska', 'Ansh', 'Chirag', 'Anurag']

In [104]:
len(names_of_students)

6

In [106]:
print(dir(names_of_students))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

#### Operations on  a list
    
    'append' --> it will add new element to the list 
    'clear' --> it will clear the list
    'copy' --> it will create the copy of the list
    'count' --> it will give the count of element in the list
    'extend' --> it will extend the list 
    'index' ---> it will give the index of the element
    'insert' --> it will insert a value at given position 
    'pop' --> it will pop an element from the list 
    'remove' --> it will remove the element from the list ( first occurence)
    'reverse' --> it will reverse a list
    'sort' --> it will sort the list

In [108]:
names_of_students.clear()

In [109]:
names_of_students

[]

In [111]:
names_of_students = [ "Ganesh Sahu", "Shaswat", "Aaska", "Ansh" ,"Chirag", "Chirag", "Ansh"]

In [114]:
names_of_students.count("Chirag")

2

In [115]:
student_list1 = [ "Ganesh Sahu", "Shaswat", "Aaska", "Ansh" ,"Chirag", "Chirag", "Ansh"]
student_list2 = ["Anurag", "Archit", "Avinash"]

In [116]:
student_list1.extend(student_list2)

In [117]:
student_list1

['Ganesh Sahu',
 'Shaswat',
 'Aaska',
 'Ansh',
 'Chirag',
 'Chirag',
 'Ansh',
 'Anurag',
 'Archit',
 'Avinash']

In [119]:
student_list1.append(student_list1)

In [126]:
x = [1, 2, 3, 4]
y  = [7, 8, 9]

In [122]:
x.append(y)

In [123]:
x

[1, 2, 3, 4, [7, 8, 9]]

In [127]:
x.extend(y)

In [128]:
x

[1, 2, 3, 4, 7, 8, 9]

In [130]:
names_of_students

['Ganesh Sahu', 'Shaswat', 'Aaska', 'Ansh', 'Chirag', 'Chirag', 'Ansh']

In [132]:
# from index to value
names_of_students[1]

'Shaswat'

In [131]:
names_of_students.index("Ganesh Sahu")

0

In [133]:
# from value to index
names_of_students.index("Shaswat")

1

In [134]:
names_of_students

['Ganesh Sahu', 'Shaswat', 'Aaska', 'Ansh', 'Chirag', 'Chirag', 'Ansh']

In [135]:
names_of_students.insert(1,  "Anurag")

In [136]:
names_of_students

['Ganesh Sahu',
 'Anurag',
 'Shaswat',
 'Aaska',
 'Ansh',
 'Chirag',
 'Chirag',
 'Ansh']

In [137]:
names_of_students.pop()

'Ansh'

In [138]:
names_of_students

['Ganesh Sahu', 'Anurag', 'Shaswat', 'Aaska', 'Ansh', 'Chirag', 'Chirag']

In [139]:
names_of_students.pop(2)

'Shaswat'

In [140]:
names_of_students

['Ganesh Sahu', 'Anurag', 'Aaska', 'Ansh', 'Chirag', 'Chirag']

In [141]:
names_of_students.remove("Chirag")

In [142]:
names_of_students

['Ganesh Sahu', 'Anurag', 'Aaska', 'Ansh', 'Chirag']

In [143]:
popped_student =  names_of_students.pop()

In [144]:
popped_student

'Chirag'

In [145]:
names_of_students.reverse()

In [146]:
names_of_students

['Ansh', 'Aaska', 'Anurag', 'Ganesh Sahu']

In [147]:
marks = [50, 100, 2, -100, 400]

In [148]:
marks.sort()

In [149]:
marks

[-100, 2, 50, 100, 400]

In [150]:
marks.sort( reverse=True )

In [151]:
marks

[400, 100, 50, 2, -100]

In [153]:
names_of_students

['Ansh', 'Aaska', 'Anurag', 'Ganesh Sahu']

In [155]:
len(names_of_students)

4

In [156]:
names_of_students[len(names_of_students)-1]

'Ganesh Sahu'

In [157]:
names_of_students[- 1]

'Ganesh Sahu'

In [158]:
names_of_students[- 1] = "Ganesh"

In [159]:
names_of_students

['Ansh', 'Aaska', 'Anurag', 'Ganesh']

In [160]:
marks

[400, 100, 50, 2, -100]

In [161]:
marks[-1] = 30

In [162]:
marks

[400, 100, 50, 2, 30]

In [163]:
[6, 7, 8, [1, 2, 3]]

[6, 7, 8, [1, 2, 3]]

In [166]:
[5, 6.7, [4, 5, 6], "ramesh", True]

[5, 6.7, [4, 5, 6], 'ramesh', True]

In [167]:
marks

[400, 100, 50, 2, 30]

In [171]:
list([1, 2, 3, 4])

[1, 2, 3, 4]

## Tuple

In [172]:
scores = (100, 200, 300, 500)

In [174]:
print(scores)

(100, 200, 300, 500)

In [176]:
scores[0], scores[1]

(100, 200)

In [177]:
scores[0] = 500

TypeError: 'tuple' object does not support item assignment

In [173]:
type(scores)

tuple

In [178]:
names_of_students

['Ansh', 'Aaska', 'Anurag', 'Ganesh']

In [179]:
tuple_of_students = tuple(names_of_students)

In [180]:
tuple_of_students

('Ansh', 'Aaska', 'Anurag', 'Ganesh')

In [181]:
x = (1, 2, 3)

In [182]:
x

(1, 2, 3)

In [187]:
y = (1, )

In [188]:
y

(1,)

In [189]:
print(dir(tuple_of_students))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

## Dictionary
    - unordered
    - mutable

In [192]:
names = {

    "Gargi":21,  # item1
    "Chirag":40, # item2
    "Mustafa":25,
    "Prashant": 30

}

type(names)

dict

In [201]:
names.keys()

dict_keys(['Gargi', 'Chirag', 'Mustafa', 'Prashant'])

In [197]:
list(names.keys())

['Gargi', 'Chirag', 'Mustafa', 'Prashant']

In [194]:
names.values()

dict_values([21, 40, 25, 30])

In [196]:
names.items()

dict_items([('Gargi', 21), ('Chirag', 40), ('Mustafa', 25), ('Prashant', 30)])

In [195]:
## access a element in a dictionary

names["Gargi"]

21

In [202]:
## modify a value
names["Gargi"] = 25

In [204]:
names

{'Gargi': 25, 'Chirag': 40, 'Mustafa': 25, 'Prashant': 30}

In [209]:
names_of_students   # 0, 1, 2, 3

['Ansh', 'Aaska', 'Anurag', 'Ganesh']

In [208]:
names_of_students[4]

IndexError: list index out of range

In [210]:
## add some more keys in the dictionary
names["Anubhav"] = 28

In [211]:
names

{'Gargi': 25, 'Chirag': 40, 'Mustafa': 25, 'Prashant': 30, 'Anubhav': 28}

In [213]:
print(list(dir(names)))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [218]:
names_items = list(names.items())  # list of tuple

In [220]:
names_items[0]

('Gargi', 25)

In [214]:
'clear' --> this will clear all elements in the dict
'copy' --> 
'fromkeys'--> 
'get' -->  will return a default value if key is not present
'items' --> will return items as  a list of tuples
'keys' --> will return all the keys
'pop' -->  will remove a given key from the dictionary
'popitem' -->  will remove  last inserted key based on LIFO ( python maintains insertion order )
'setdefault' --> check if the key is existing in the dictionary. if not existing then create the key with default value
'update' --> update the dictionary using another dictionary
'values' --> will return all the values

('pop', 'popitem', 'setdefault', 'update', 'values')

In [221]:
dict([("Shravan", 10), ("Sudarshan", 15)])

{'Shravan': 10, 'Sudarshan': 15}

In [244]:
# keys are unique
# keys can be only immutable datatypes

names

{'Gargi': 25, 'Chirag': 40, 'Mustafa': 25, 'Prashant': 30, 'Anubhav': 28}

In [247]:
my_dict = {

    "ramesh": 60, 
    60 : 50,
    (1, 2, 3) : 54
    
}

'/Users/ram/Documents/PythonDSA-Notebooks'

In [24]:
friends  = {

    "Praharsh":["Mohan"], 
    "Mustafa":["Sohan"],
}

friends.setdefault("Tyler", []).append("Prodip")

In [25]:
friends

{'Praharsh': ['Mohan'], 'Mustafa': ['Sohan'], 'Tyler': ['Prodip']}

## nested dictionary

In [ ]:
marks = {

"english" : 90,
"math" : 80, 
"science" : 75   
    
}

In [227]:
marks_list = {

"Sandeep Saraf" : {"english" : 90,"math" : 80, "science" : {"theory":40, "practical":25} },
"Jitendra Verma" :{"english" : {"theory":45, "practical":15},"math" : 80, "hindi" : 75 },
"Navneet Singh" : {"english" : 90, "science" : 80, "hindi" : 75 }
    
}

In [231]:
marks_list["Jitendra Verma"]["english"]["practical"]

15

In [229]:
marks_list["Navneet Singh"]["math"]

KeyError: 'math'

In [233]:
marks_list["Navneet Singh"]

{'english': 90, 'science': 80, 'hindi': 75}

In [232]:
marks_list.get("Navneet Singh")

{'english': 90, 'science': 80, 'hindi': 75}

In [234]:
marks_list["Sarfaraz"]

KeyError: 'Sarfaraz'

In [238]:
marks_list.get("Sarfaraz","key not present")

'key not present'

In [241]:
marks_list.get("Jitendra Verma", {}).get("science",{}).get("practical","n/a")

'n/a'

In [243]:
marks_list.get("Sandeep Saraf", {}).get("science",{}).get("practical","n/a")

25

In [ ]:
marks_list.get()

In [36]:
marks = {

"Ram": [30, 40, 60, 90], 
"Chirag": [60, 30, 100, 40]
    
}


# Question 1: what is the highest marks scored by Ram?
# Question 2: Who has scored the highest average marks?

list_of_marks =list(marks.items())

In [42]:
(list_of_marks[0][1])

90

In [44]:
(list_of_marks[0][1]).sort()

In [47]:
sorted(list_of_marks[0][1])

[30, 40, 60, 90]

In [46]:
list_of_marks[0][1][-1]

90

In [48]:
x = [2, 4, 10, -100]
sorted(x)

[-100, 2, 4, 10]

In [49]:
x

[2, 4, 10, -100]

In [50]:
x.sort()
x

[-100, 2, 4, 10]

In [51]:
x

[-100, 2, 4, 10]

In [22]:
## Control Flow
        - Conditional Statements ( if, else, elif)
        - Loops in python ( for loop and while loop )
        - Exception Handling

IndentationError: unexpected indent (4208916911.py, line 2)

## Set 

        - store unique values ( cannot contain duplicates)
        - unordered
        - mutable
        - support set operations like ( intersection, union etc)

In [52]:
my_set = {1, 2, 3, 4, }

In [53]:
my_set

{1, 2, 3, 4}

In [55]:
another_set = { 100, 200, 500, -1000, 100, 400 }

In [56]:
another_set

{-1000, 100, 200, 400, 500}

In [101]:
my_another_set = { [1, 2, 3],  [3, 4, 5] }

TypeError: unhashable type: 'list'

In [57]:
type(another_set)

set

In [58]:
set([100, 200, 500, -1000, 100, 400])

{-1000, 100, 200, 400, 500}

In [63]:
empty_list = []
empty_tuple = ()
empty_dict = {}
empty_set = set()

In [62]:
type(empty_tuple)

tuple

In [65]:
print(list(dir(another_set)))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [67]:
'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update'

('add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update')

# common operations in set
     'add' --> add some element to a set
     'clear',
     'copy',
     'difference' ---> elements in the set which are not present in the other set
     'difference_update' --> updates the set with the difference of other set. ( difference will be assigned to the set)
     'discard',
     'intersection'---> elements which are present in both sets
     'intersection_update',
     'isdisjoint' --> disjoint means set dont have any intersection
     'issubset' --> one set is a subset
     'issuperset' --> one set is superset of other
     'pop',
     'remove',
     'symmetric_difference',
     'symmetric_difference_update',
     'union' --> union of the two sets
     'update'

In [69]:
my_set.add(100)

In [70]:
my_set

{1, 2, 3, 4, 100}

In [71]:
batsmen = { "Rohit", "Virat", "Yuvraj", "Sachin" }
bowlers = {"Jasprit", "Yuvraj", "Sachin" , "Zahir"} 


players = batsmen.union(bowlers)
players

{'Jasprit', 'Rohit', 'Sachin', 'Virat', 'Yuvraj', 'Zahir'}

In [72]:
## batsman  and bowler both
all_rounder = batsmen.intersection(bowlers)

In [73]:
all_rounder

{'Sachin', 'Yuvraj'}

In [75]:
bowlers.difference(batsmen) ## bowlers who are not batsmen

{'Jasprit', 'Zahir'}

In [74]:
batsmen.difference(bowlers)

{'Rohit', 'Virat'}

In [79]:
# formatted strings
print(f"{batsmen = }")
print(f"{bowlers = }")
print(f"{batsmen.difference(bowlers) = }")

batsmen = {'Rohit', 'Sachin', 'Yuvraj', 'Virat'}
bowlers = {'Jasprit', 'Sachin', 'Zahir', 'Yuvraj'}
batsmen.difference(bowlers) = {'Rohit', 'Virat'}

In [80]:
batsmen.difference_update(bowlers)

In [81]:
batsmen

{'Rohit', 'Virat'}

In [ ]:
'isdisjoint',
'issubset',
'issuperset',

In [88]:
batsmen = { "Rohit", "Virat", "Yuvraj", "Sachin" }
fielders  = {"Virat", "Sachin"}
bowlers = {"Jasprit", "Yuvraj", "Sachin" , "Zahir"} 
commentators = {"Siddhu", "Irfan Pathan", "Zahir"}

In [89]:
batsmen.isdisjoint(bowlers)

False

In [90]:
batsmen.isdisjoint(commentators)

True

In [93]:
fielders.issubset(batsmen)

True

In [94]:
fielders.issubset(bowlers)

False

In [95]:
batsmen.issuperset(fielders)

True

In [96]:
# formatted strings
print(f"{batsmen = }")
print(f"{bowlers = }")
print(f"{batsmen.difference(bowlers) = }")

batsmen = {'Rohit', 'Sachin', 'Yuvraj', 'Virat'}
bowlers = {'Jasprit', 'Sachin', 'Zahir', 'Yuvraj'}
batsmen.difference(bowlers) = {'Rohit', 'Virat'}

In [98]:
batsmen.union(bowlers)

{'Jasprit', 'Rohit', 'Sachin', 'Virat', 'Yuvraj', 'Zahir'}

In [99]:
batsmen.intersection(bowlers)

{'Sachin', 'Yuvraj'}

In [100]:
batsmen.union(bowlers).difference(batsmen.intersection(bowlers))

{'Jasprit', 'Rohit', 'Virat', 'Zahir'}

In [97]:
# Return a new set with elements in either the set or other but not both.
batsmen.symmetric_difference(bowlers)

{'Jasprit', 'Rohit', 'Virat', 'Zahir'}

In [104]:
batsmen

{'Rohit', 'Sachin', 'Virat', 'Yuvraj'}

### Example of Using set

Question: 
Given a array of numbers, return the count of unique elements

```nums = [1, 2, 3, 5, 6, 3, 1, 2]```

In [108]:
nums = [1, 2, 3, 5, 6, 3, 1, 2]
len(set(nums))

5

In [109]:
len(nums)

8

In [216]:
nums = [1, 2, 3, 5, 6, 3, 1, 2]
set(nums)

{1, 2, 3, 5, 6}

In [217]:
len(set(nums))

5

## Operators in python

    - arithmetic operators
    - comparison operators
    - assignment operators
    - logical operators
    - bitwise operators
    - membership operators ( in , not in)
    - identity operators ( is, is not)

In [111]:
x = 10
y = 15

In [113]:
## arithmetic operators 

print(x+y)  # addition
print(x-y)  #subtaction
print(x*y) # multiplication
print(x/y) # division
print(x//y) # floor division
print(x%y)  # modulus division

25
-5
150
0.6666666666666666
0
10

In [117]:
15//10, 15%10

(1, 5)

In [115]:
5%10

5

In [120]:
x = 10
y = 15
z = 10

In [ ]:
##comparison operators

In [122]:
print(x == y) # this will check if x is equal to y
print(x == z)

False
True

In [123]:
x != y

True

In [124]:
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True

In [126]:
2 ** 2  # exponentiation

4

In [130]:
x ** 3

1000

In [131]:
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
False
True

#### assignment operators

        =
        +=   add and assign
        -=
        *=
        /=
        **=
        %=
        //=

In [132]:
x = 10

In [133]:
x

10

In [136]:
x = 10
x = x + 10
x

20

In [137]:
x = 10
x += 10  
x#

20

In [140]:
x = 10
x = x * 2
x

20

In [141]:
x = 10
x *= 2
x

20

### logical operators
        - and 
        - or
        - not

In [142]:
True and True

True

In [143]:
True and False

False

In [144]:
False and False

False

In [145]:
False and True

False

In [147]:
x = 10 
y = 15

(x > y) and (x > 0)  # False and True

False

In [148]:
(x > y) or (x > 0)

True

In [149]:
not True

False

In [150]:
understood = True
not understood

False

### membership operators

    - to check membership in any collection

In [152]:
batsmen_list = ['Rohit', 'Sachin', 'Virat', 'Yuvraj']

In [154]:
"Hardik" in batsmen_list

False

In [155]:
not ("Hardik" in batsmen_list)

True

In [156]:
"Hardik" not in batsmen_list

True

In [159]:
"Sehwag" in   batsmen

False

In [160]:
"a" in "apple"

True

## Identity operator
    - used to check if items are pointing to same object identity

In [161]:
a = [1, 2, 3]
b  = [1, 2, 3]

In [162]:
a == b # the values are equal

True

In [168]:
id(a), id(b)

(4581580544, 4581665856)

In [164]:
a is b

False

In [163]:
c = a

In [167]:
id(c), id(a)

(4581580544, 4581580544)

In [165]:
c is a

True

In [169]:
x = None

In [170]:
x is None

True

## Control Flow
        - Conditional Statements ( if, else, elif)
        - Loops in python ( for loop and while loop )
        - Exception Handling

#### conditional statements

## Question:
    Ask the user to enter the name and age and then based on logic give answer
        if age is < 10 --> study
        if age is < 40 --> work
        if age < 90 --> retire

In [ ]:
## how to ask user? 
## how to decide the condition

In [176]:
age = 8

if age < 10:
    print("you should study!!!")
else:
    if age < 40:
        print("You should work!!!")
    else:
        print("you should retire")

you should study!!!

In [179]:
age = 38

if age < 10:
    print("you should study!!!")
elif age < 40:
    print("You should work!!!")
else:
    print("you should retire")

You should work!!!

In [180]:
age = input()  # will always take value as a string

 35

In [182]:
age = input("Please enter your age : ")

Please enter your age :  60

In [183]:
age

'60'

In [181]:
age

'35'

In [184]:
"apple" < 10

TypeError: '<' not supported between instances of 'str' and 'int'

In [186]:
age = input("Enter your age : ")
age   = float(age)

if age < 10:
    print("you should study!!!")
elif age < 40:
    print("You should work!!!")
elif age < 90:
    print("you should retire!!")
else:
    print("Play with your great grandchildren !!")

Enter your age :  10

You should work!!!

In [187]:
age = input("Enter your age : ")
age   = float(age)
print("You entered your age as: ", age, "years")

if age < 10:
    print("you should study!!!")
elif age < 40:
    print("You should work!!!")
elif age < 90:
    print("you should retire!!")
else:
    print("Play with your great grandchildren !!")

Enter your age :  70

You entered your age as:  70.0 years
you should retire!!

In [189]:
age = input("Enter your age : ")
age   = float(age)

print("You entered your age as: ", age, "years")

if age < 10:
    print("you should study!!!")
elif age < 40:
    print("You should work!!!")
elif age < 90:
    print("you should retire!!")
else:
    print("Play with your great grandchildren !!")

Enter your age :  60

You entered your age as:  60.0 years
you should retire!!

## Loops
        - For loop 
        - while loop

In [190]:
names = ["Amit Zala", "Gargi Singh", "Tyler Durden"]

In [193]:
name = names[0]
print("Hi", name, "How are you ??")

Hello Amit Zala How are you ??

In [194]:
name = names[1]
print("Hi", name, "How are you ??")

Hello Gargi Singh How are you ??

Hello Tyler Durden How are you ??

In [ ]:
names = ["Amit Zala", "Gargi Singh", "Tyler Durden"]

## For loop

Hi Amit Zala How are you ??
Hi Gargi Singh How are you ??
Hii Tyler Durden How are you ??

In [196]:
names = ["Amit Zala", "Gargi Singh", "Tyler Durden"]

for name in names:
    print(name)

Amit Zala
Gargi Singh
Tyler Durden

In [199]:
name = names[0]
print("Hi", name, "How are you ??")
name = names[1]
print("Hi", name, "How are you ??")
name = names[2]
print("Hii", name, "How are you ??")

Hi Amit Zala How are you ??
Hi Gargi Singh How are you ??
Hii Tyler Durden How are you ??

In [200]:
for name in names:
    print("Hi", name, "How are you ???")

Hi Amit Zala How are you ???
Hi Gargi Singh How are you ???
Hi Tyler Durden How are you ???

### Given a list of numbers print the even numbers in the list
```nums = [4, 9, 10, 13, 100 ]```

In [202]:
## how to check if number is even ( when divided by 2 ---> remainder as 0 )
num = 30
num % 2 == 0

True

In [203]:
type(num % 2 == 0)

bool

In [206]:
num = 61

if num % 2 == 0 :
    print(" the number is even")
else:
    print("the number is odd")

the number is odd

In [208]:
num = int(input("enter a number"))

if num % 2 == 0 :
    print(" the number is even")
else:
    print("the number is odd")

enter a number 19

the number is odd

In [209]:
nums = [4, 9, 10, 13, 100 ]

for num in nums:
    if num % 2  == 0:
        print("the number", num, "is even!!")
    else:
        print("the number", num, "is odd!!")

the number 4 is even!!
the number 9 is odd!!
the number 10 is even!!
the number 13 is odd!!
the number 100 is even!!

### Given a list of numbers filter the even numbers in the list
```nums = [4, 9, 10, 13, 100 ]```

filter means create a new list with filtered items

In [ ]:
nums = [4, 9, 10, 13, 100 ]
result = [4, 10, 100]

In [210]:
nums = [ 4, 9, 10, 13, 100 ]

result = []
for num in nums:
    if num % 2  == 0: # if the number is evem
        result.append(num)
print(result)

[4, 10, 100]

In [212]:
nums = [ 4, 9, 10, 13, 100 ]

result = []
count = 0
for num in nums:
    count = count + 1
    if num % 2  == 0: # if the number is evem
        result.append(num)
print(result)

[4, 10, 100]

In [213]:
count

5

In [214]:
list1 = []
tuple1 = ()
dict1  = {}
set1 = set()

In [215]:
print((len(list1)))
print((len(tuple1)))
print((len(dict1)))
print((len(set1)))

0
0
0
0

## for loop 
    - iterate on the value
    - iterate on the index
    - iterate on both value and index

#### given a list of numbers, find the sum of the numbers

In [3]:
nums = [30, 40, 50, 100, 20]

In [4]:
sum(nums)

240

In [5]:
sum_ = 0

for num in nums:
    sum_ = sum_ + num
print(sum_)

240

### range function

In [7]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(50, 60))

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59]

In [10]:
list(range(1, 20, 2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [23]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [24]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### write a for loop using the index

In [ ]:
## using for loop on value
sum_ = 0

for num in nums:
    sum_ = sum_ + num
print(sum_)

In [11]:
nums

[30, 40, 50, 100, 20]

In [17]:
## using for loop in index
sum_ = 0
for index in range(len(nums)):
    # print(nums[index])
    sum_ = sum_ + nums[index]
print(sum_)

240

In [21]:
sum_ = 0
for aam in range(len(nums)):
    # print(nums[index])
    sum_ = sum_ + nums[aam]
print(sum_)

240

In [32]:
sum(nums)

220

In [28]:
## tuple unpacking

a, b = 10, 20, 30

ValueError: too many values to unpack (expected 2)

In [27]:
a, b

(10, 20)

### iterating on index and value

In [19]:
list(enumerate([40, 50, 60, 70]))

[(0, 40), (1, 50), (2, 60), (3, 70)]

In [30]:
nums = [40, 50, 60, 70]

for ind, val in enumerate(nums):
    print(f"{ind = }, {val =}")

ind = 0, val =40
ind = 1, val =50
ind = 2, val =60
ind = 3, val =70

In [33]:
# return the position of the even numbers in the list

nums = [2, 43, 10, 101, 32]  
result = []

for index in range(len(nums)):
    num = nums[index]
    if num % 2 == 0: ## condition to check if the number is even
        result.append(index)

print(result)

[0, 2, 4]

In [34]:
# return the position of the even numbers in the list

nums = [2, 43, 10, 101, 32]  
result = []

for index in range(len(nums)):
    num = nums[index]
    if num % 2 == 0: ## condition to check if the number is even
        result.append((index, nums[index]))

print(result)

[(0, 2), (2, 10), (4, 32)]

In [36]:
# return the position of the even numbers in the list

nums = [2, 43, 10, 101, 32]  
result = []

for index, num in enumerate(nums):
    if num % 2 == 0: ## condition to check if the number is even
        result.append((index, num))

print(result)

[(0, 2), (2, 10), (4, 32)]

In [37]:
## given a list of numbers multiply the even numbers with 2 and multiply the odd numbers with 3
nums = [2, 43, 10, 31, 52]  

## result = [2*2, 43*3, 10*2 ..]
result = []
for num in nums:
    if num%2 == 0 :
        result.append(num*2)
    else:
        result.append(num * 3)

result

[4, 129, 20, 93, 104]

In [39]:
## if you are given a list of marks scored by different students, find the total marks scored by every student and who has scored the highest total marks

marks = { "Prodip": [90, 50, 60], 
          "Manas": [50, 30, 20], 
          "Lucky" :[60, 90, 100] }

In [41]:
list(marks.items())

[('Prodip', [90, 50, 60]), ('Manas', [50, 30, 20]), ('Lucky', [60, 90, 100])]

In [46]:
student_total_marks_list = []
for item in marks.items():
    
    student, mark_list  = item[0], item[1]
    student_total = 0
    for mark in mark_list:
        student_total = student_total + mark
    student_total_marks_list.append(student_total)

max(student_total_marks_list)

250

In [45]:
student_total_marks_list = []
for item in marks.items():  
    student, mark_list  = item[0], item[1]
    student_total_marks_list.append(sum(mark_list))

student_total_marks_list

[200, 100, 250]

In [47]:
student_total_marks_list = {}
for item in marks.items():
    
    student, mark_list  = item[0], item[1]
    student_total = 0
    for mark in mark_list:
        student_total = student_total + mark
    student_total_marks_list[student] = student_total
student_total_marks_list

{'Prodip': 200, 'Manas': 100, 'Lucky': 250}

In [59]:
student_marks = {'Prodip': 200, 'Manas': 100, 'Lucky': 250}

max_ = -float("inf")
for student, marks in student_marks.items():
    if marks > max_:
        topper = student
        max_ = marks

print(topper)

Lucky

In [60]:
student_marks = {'Prodip': 200, 'Manas': 100, 'Lucky': 250, "Shreejit": 500}

max_ = -float("inf")
for student, marks in student_marks.items():
    if marks > max_:
        topper = student
        max_ = marks

print(topper)

Shreejit

In [61]:
## find the student who scored the highest marks

student_marks = {'Prodip': 200, 'Manas': 100, 'Lucky': 250, "Shreejit": 500}

['Lucky', 'Manas', 'Prodip', 'Shreejit']

In [52]:
## write the logic to find the maximum value in a list

nums = [10, 20, 30, -100, 1000, 2, 4000 ]
max_ = 0
for i in nums:
    if i > max_:
        max_ = i

print(max_)

4000

In [56]:
## write the logic to find the maximum value in a list

nums = [-10, -20, -30, -100, -1000, -2, -4000 ]
max_ = 0
for i in nums:
    if i > max_:
        max_ = i

print(max_)

0

In [57]:
nums = [-10, -20, -30, -100, -1000, -2, -4000 ]
max_ = -float("inf")
for i in nums:
    if i > max_:
        max_ = i

print(max_)

-2

In [51]:
max(nums)

4000

In [50]:
sorted(nums)[-1]

4000

## list comprehension and dictionary comprehension

```python
result = []
for num in nums:
    result.append(num)
```
```python
[num for num in nums]
```

In [64]:
## given a list of numbers multiply every number with 2
nums = [2, 43, 10, 31, 52]  

result = []
for num in nums:
    result.append(num*2)

result

[4, 86, 20, 62, 104]

In [66]:
[num*2 for num in nums]

[4, 86, 20, 62, 104]

In [67]:
[10, 20, 30][0]

10

In [69]:
## given a list of names filter those people whose name starts with vowel
names  = ["Mustafa", "Shashwat", "Aastha", "Indra", "Lucky"]


## result = ["Aastha", "Indra"]

In [70]:
vowels = "AEIOUaeiou"

filtered_names = []
for name in names:
    first_character = name[0]
    if first_character in vowels:
        filtered_names.append(name)
filtered_names

['Aastha', 'Indra']

In [79]:
vowels = "aeiou"  # DRY

filtered_names = []
for name in names:
    first_character = name[0].lower()
    if first_character in vowels:
        filtered_names.append(name)
filtered_names

['Aastha', 'Indra']

In [73]:
# filtering

[name for name in names if name[0] in vowels]

['Aastha', 'Indra']

In [76]:
## given a list of number filter out even numbers
nums = [2, 6, 5, 10, 13, 19]

result1 = []
for num in nums:
    if num%2 == 0:
        result1.append(num)
print(result1)



result2 = [num for num in nums if num % 2 == 0]
print(result2)

[2, 6, 10]
[2, 6, 10]

In [78]:
## create a list with total of all students
marks = [ ("Prodip", [90, 50, 60]), 
          ("Manas", [50, 30, 20]), 
          ("Lucky" , [60, 90, 100]) ]

student_marks = [ (student, sum(marks)) for  (student,marks) in marks  ]

[('Prodip', 200), ('Manas', 100), ('Lucky', 250)]

In [89]:
## given a list of numbers multiply the even numbers with 2 and multiply the odd numbers with 3
nums = [2, 43, 10, 31, 52]


result1 = []
for num in nums:
    if num%2 == 0 :
        result1.append(num*2)
    else:
        result1.append(num * 3)
result1


## same code using list comprehension
nums = [2, 43, 10, 31, 52]
[(num *2 if num %2==0 else num*3) for num in nums]

[4, 129, 20, 93, 104]

## ternary operator

In [90]:

# if the number is even then multiply by 3 else multiply by 4
num = 10
if num%2 == 0:
    result = num*3
else:
    result = num*4

result

30

In [91]:
result = num*3 if num%2==0 else num *4
result

30

In [82]:
num = 10
result = num *2 if num %2==0 else num*3
result

20

In [ ]:
## nested for loop in list comprehension

In [ ]:
## given a list of numbers multiply the even numbers with 2 and multiply the odd numbers with 3
nums = [2, 43, 10, 31, 52]

In [92]:
## dictionary comprehension

marks = [ ("Prodip", [90, 50, 60]), 
          ("Manas", [50, 30, 20]), 
          ("Lucky" , [60, 90, 100]) 
        ]

marks_dict = dict(marks)
marks_dict

{'Prodip': [90, 50, 60], 'Manas': [50, 30, 20], 'Lucky': [60, 90, 100]}

```python
result = {}
for key, value in marks_dict.items():
    result[key] = value
result
```

```python
{ key:value for key, value in marks_dict.items() }
```

In [96]:
result = {}
for key, value in marks_dict.items():
    result[key] = value

result

{'Prodip': [90, 50, 60], 'Manas': [50, 30, 20], 'Lucky': [60, 90, 100]}

In [98]:
({ key:value for key, value in marks_dict.items() })

['Prodip', 'Manas', 'Lucky']

In [97]:
[ (key,value) for key, value in marks_dict.items() ]

[('Prodip', [90, 50, 60]), ('Manas', [50, 30, 20]), ('Lucky', [60, 90, 100])]

In [23]:
dict([('Prodip', [90, 50, 60]), ('Manas', [50, 30, 20]), ('Lucky', [60, 90, 100])])

{'Prodip': [90, 50, 60], 'Manas': [50, 30, 20], 'Lucky': [60, 90, 100]}

In [25]:
list({'Prodip': [90, 50, 60], 'Manas': [50, 30, 20], 'Lucky': [60, 90, 100]}.items())

[('Prodip', [90, 50, 60]), ('Manas', [50, 30, 20]), ('Lucky', [60, 90, 100])]

In [101]:
marks_dict = {}
{ key : sum(value) for key, value in marks_dict.items() }

{}

In [ ]:
## make a dictionary of students who scored more than 100 marks

## break, continue and pass

In [ ]:
## break condition is used to immediately exit the loop

In [108]:
# find out if any element in the list is odd

nums = [10, 12, 13, 14, 100]

for num in nums:
    print(num)
    if num%2 != 0:  # condition for odd number
        print(f"{num} is odd")
        break

10
12
13
13 is odd
14
100

In [109]:
# find out if any element in the list is odd

nums = [10, 12, 13, 14, 100]

for num in nums:
    print(num)
    if num%2 == 0:  # condition for even number
        print(f"{num} is even")
        break

10
10 is even

In [111]:
nums = [[10, 12, 13, 14, 100], [10, 12, 14, 100]]

for num_list in nums:
    for num in num_list:
        print(num)
        if num%2 != 0:  # condition for even number
            print(f"{num} is even")
            break

10
12
13
13 is even
10
12
14
100

## continue --> used to break the current iteration

In [2]:
## find the sum of only even numbers in the list

nums = [10, 12, 13, 14, 100]     

sum([num for  num in nums if num%2==0])

136

In [3]:

nums = [10, 12, 13, 14, 100] 

sum_ = 0

for num in nums:
    if num % 2 != 0: # if the number is odd
        continue # skip the odd numbers
    sum_ += num

sum_

136

## pass  --> dont do anything

In [6]:
nums = [10, 12, 13, 14, 100] 

sum_ = 0

for num in nums:
    if num % 2 != 0: # if the number is odd
        pass # skip the odd numbers
    else:
        sum_ += num

sum_

136

In [211]:
## Practice For loop and while loop
## Functions
## Exception Handling
## OOPs

## While loops

## Functions

    - Block of code to resuse some logic
    - Built in functions and User Defined Functions

In [7]:
print(10)

10

In [8]:
type(40)

int

In [9]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list([1, 2, 3, ])

[1, 2, 3]

In [12]:
sum([1, 2, 3])

6

In [14]:
min((3, 4, 10, -100))

-100

## User Defined Function
    - defining the functions ( what the function will do ?)
    - calling the function ( actually using the function ? )

In [18]:
name = "Anubhav"

for i in range(5):
    print(name)

Anubhav
Anubhav
Anubhav
Anubhav
Anubhav

In [20]:
# defining a function

def print_name():
   for i in range(5):
    print("Anubhav") 


## calling a function

print_name()

Anubhav
Anubhav
Anubhav
Anubhav
Anubhav

In [28]:
# defining a function

def print_name(name): # name is a parameter
   for i in range(5):
    print(name) 


## calling a function

print_name(name = "Anurag")  # keyword argument'
print_name("Anurag")  # keyword argument

Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag

In [32]:
# defining a function

def print_name(name, count = 5): # name is a parameter
   for i in range(count):
    print(name) 


## calling a function

# print_name(name = "Anurag", count = 10)  # keyword argument'
print_name("Anurag", 10)  # keyword argument

Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag

In [55]:
print_name(name = "Anurag", 10)

SyntaxError: positional argument follows keyword argument (2778248780.py, line 1)

In [56]:
print_name("Anurag", count = 10)

Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag

In [35]:
print_name(name =  "Anurag",  count = 10)

Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag

In [34]:
print_name( "Anurag",  count = 10)

Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag
Anurag

In [38]:
x = print_name("Prodip")

Prodip
Prodip
Prodip
Prodip
Prodip

In [40]:
x is None

True

In [42]:
y = sum((1, 2, 3))
print(y)

6

In [ ]:
## Functions
    - may return something
    - may not return something

In [51]:
## write a function to check if a number if even

def is_even(num):
    if num % 2 == 0: # number is even
        print("even")
    else:
        print("odd")




x = is_even(50)
print("x ", x )

even
x  None

In [52]:
def is_even(num):
    if num % 2 == 0: # number is even
        return "even"
    else:
        return "odd"

x = is_even(50)
print("x ", x )

x  even

In [53]:
## given a list of number filter out even numbers
nums = [10, 32, 41, 54]
even_nums = []
for num in nums:
    if is_even(num) == "even":
        even_nums.append(num)

even_nums

[10, 32, 54]

In [45]:
# using ternary operator

def is_even(num):
    print("even" if num % 2 == 0 else "odd")

is_even(50)

even

In [54]:
## the function should return True or False

def is_even(num : int) -> bool:
    if num % 2 ==0:
        return True
    else:
        return False

def is_even(num):
    return True if num % 2 == 0 else False

def is_even(num):
    return num % 2 == 0

x = is_even(501)    
print(x)

False

In [61]:
## write a function to print the table of a number

def print_table(num, count = 10):
    for i in range(1, count+1):
        print(f"{num} * {i} = {num*i} ")

print_table(10, 20)  # positional argument

print_table(num = 10, count = 20)  # keyword argument

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
10 * 13 = 130
10 * 14 = 140
10 * 15 = 150
10 * 16 = 160
10 * 17 = 170
10 * 18 = 180
10 * 19 = 190
10 * 20 = 200

In [62]:
print_table(10, count = 20)  # keyword argument

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100
10 * 11 = 110
10 * 12 = 120
10 * 13 = 130
10 * 14 = 140
10 * 15 = 150
10 * 16 = 160
10 * 17 = 170
10 * 18 = 180
10 * 19 = 190
10 * 20 = 200

In [63]:
print_table(num = 10,  20)  # keyword argument

SyntaxError: positional argument follows keyword argument (3642968800.py, line 1)

## positional argument and keyword argument

## lambda function / anonymous function

    - functions with simple logic, that is supposed to be used only once

In [ ]:
def is_even(num):
    return num%2 == 0

In [65]:
def add_numbers(x, y):
    return x + y

add_numbers(5, 6)

11

In [66]:
add_numbers = lambda x, y : x + y
add_numbers(5, 6)

11

In [67]:
def is_even(num):
    return num%2 == 0

check_even = lambda num : num % 2 ==0
check_even(5)

False

In [72]:
result = (lambda num : num % 2 ==0)(501)
print("result = ", result)

result =  False

In [73]:
def check_prime(num):
    pass

## args and kwargs

### Higher Order Functions (HoF)
    - map 
    - filter
    - reduce

## While loops

## OOPs